.add-new-meal-container{
    color:black;
    width: 35%;
    margin: 30px;
 display: flexbox;
   
   }
   
   .add-new-meal-fourm{
   padding: 20px;
   background-color: rgba(20, 10, 155, 0.842);
   border: rgb(0, 0, 104) 2px solid;
   border-radius: 20px;
   padding-left: 25%;

   }
   .add-meal-message{
     text-align: center;
     margin: 5px;
    margin-bottom: 650px;
   
   }