.add-new-meal-container{
    color:rgb(41, 23, 209);
    margin: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   
   .add-new-meal-fourm{
   padding: 10%;
   background-color: rgba(121, 167, 228, 0.842);
   border-radius: 20px;
   display: flex;
   width: max-content;
   }
   
   .add-meal-message{
    text-align: center;
    margin: 5px;
    margin-bottom: 650px;
   
   }