.mealCardContainer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(94, 165, 165, 0);
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  padding: 5%;
}


.meal-by-id{
margin-left: 10%;
padding-top: 2%;
width: 30%;

}
.card1{
  color: rgba(60, 60, 61, 0.863);
  
}
.card-image{
  width: 250px;
  height: 300px;
}

.meal-card-image{
  width: 300px;
  height: 300px;
}