.mealCardContainer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
 
}

.meal-card {
  color:black;
  margin: 5%;
}

.meal-by-id{
display: flex;
margin: 30px;

}

.add-new-meal-container{
 color:black;
 width: 20%;
 border:black 2px solid;
 margin-left: 20px;
 border-radius: 20px;
}

.add-new-meal-fourm{
padding: 20px;
 
}
.add-meal-message{
  text-align: center;
  margin: 5px;
 margin-bottom: 350px;
}