body{
    background-color:darkslategrey ;
    height: 2.5rem; 
  
  }

  .footer{
    background-color:slategray;
    position:absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 2.5rem; 
  }

  /* // i need to fix position issue for footer  still stuck in the middle of meals page */