body {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

.footer {
  background-color:rgb(63, 62, 62);
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.title{
  padding: 30px;
  text-align: center;
}

.about-container{
  display:flex;
flex-direction: row-reverse;
padding:  10%;
}
