.reservation-form {
  border-radius: 10%;
  width: 50%;
 padding-left: 10%;
 background-color: rgba(121, 167, 228, 0.842);
}
.reservation-form-container{
width: 800px;
height: 500px;

}
.reservation-form-container-true{

visibility: hidden;
}

.no-reservation-message{
 
  text-align: center;
  margin: 5px;
 margin-bottom: 350px;
}

.reservation-message{
  text-align: center;
  margin: 5px;
 margin-bottom: 350px;
}