.add-new-meal-container{
    color:rgb(41, 23, 209);
    margin: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   
   .add-new-meal-fourm{
   padding: 10%;
   background-color: rgba(121, 167, 228, 0.842);
   border-radius: 20px;
   display: flex;
   width: max-content;
   }
   
   .new-meal-created-message-container{
    display:flex;
    justify-content:space-evenly;
    margin: 10%;
    font-size: x-large

}
.new-meal-created-message{
}

.create-new-meal{
}