*{
    margin: 0;
    padding: 0;
}
.single-meal-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 500px;
}

.meal-card{
    width: 70%;
    margin-bottom: 10%;

}
.rating-component{
    display: flex;
    justify-content: center;

}
.reservation-form{
    width: max-content;
    margin: 10%;
}